.Main {
    border-bottom: solid 2px #000;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.Button {
    width: 150px;
    height: 40px;
    background-color: #a55eea;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin: 10px 10px;
    font-size: 16px;
    color: #fff;
    outline: none;
}

.ButtonDisabled {
    width: 150px;
    height: 40px;
    background-color: #778ca3;
    border-radius: 20px;
    border: none;
    cursor: progress;
    margin: 10px 10px;
    font-size: 16px;
    color: #fff;
    outline: none;
}

.ProgressOn {
    cursor: progress;
}

.ProgressOff {
    cursor: pointer;
}